<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2 align="center">Welcome to the Online Voting Website</h2>
	<br/><br/>
	<p align="center">Please choose one of the constituencies listed below:</p>
    
    
    <form name="constitPicker" align="center" th:action="@{/vote}" method="get">
    
    <p>
    <select name = "preference">
    <option label=""></option>
        
    <option th:each="names : ${names}" th:value="${names}" th:text="${names}"></option>

    </select></p> 
    
   
    <input type="Submit" name="voteBtn" value="Vote"/><BR/><p>Or</p>
	<input type="Submit" name="resultsBtn" value="Results"/>
	
    </form>
    
</body>
</html>