<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<h2 align="center">Welcome to the Online Voting Website</h2>
	<br/>
	<p align="center">Please note you must vote in order ( i.e. 1 / 1,2 / 1,2,3 ... etc)</p>
	<p align="center">Please ensure each candidate is only chosen once</p>
	<br/>
	<p align="center">Please select your candidate preferences below:</p>
    
    <form name="candidatePicker" align="center" th:action="@{/validvote}" method="get">

    <p>Preference 1 : 
    <select name="pref1">
    <option label=""></option>    
    <option th:each="names : ${names}" th:value="${names}" th:text="${names}"></option>
    </select>
    </p>
    
    <p>Preference 2 : 
    <select name="pref2">
    <option label=""></option>    
    <option th:each="names : ${names}" th:value="${names}" th:text="${names}"></option>
    </select>
    </p>
    
    <p>Preference 3 : 
    <select name="pref3">
    <option label=""></option>    
    <option th:each="names : ${names}" th:value="${names}" th:text="${names}"></option>
    </select>
    </p>
    
    <p>Preference 4 : 
    <select name="pref4">
    <option label=""></option>    
    <option th:each="names : ${names}" th:value="${names}" th:text="${names}"></option>
    </select>
    </p>
    
    <p>Preference 5 : 
    <select name="pref5">
    <option label=""></option>    
    <option th:each="names : ${names}" th:value="${names}" th:text="${names}"></option>
    </select>
    </p>
   
    <input type="Submit" name="submitBtn" value="Submit"/>
	<input type="Reset" name="resetBtn" value="Reset"/>
	<input type="hidden" name="constituency" th:value="${constituency}"/>
	
    </form>
	

	
</body>
</html>